/* OrderProduct.css */

/* General Styles */
.shoppingIcon {
  height: 12px;
}
.buttons {
  display: flex;
  width: 70%;
}

.orderProduct__info {
  flex: 0.55;
  align-content: center;
  padding-left: 20px;
}
.hoverLink {
  cursor: pointer;
  color: #1196ab;
}
.hoverLink:hover {
  text-decoration: underline;
  color: #d1611f;
}
.white__button {
  background-color: white;
  border-radius: 12px;
  width: 100%;
  height: 30px;
  border: 1px solid #d5d9d9;
  cursor: pointer;
  margin-top: 10px;
  color: #111;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.white__button:hover {
  background-color: #f7fafa;
}
.small__button {
  width: 40%;
  margin: 5px;
}
.orderproduct {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
  background-color: white;
  width: 40vw;
}

.product__image {
  flex: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100px;
  height: auto; /* Ensure aspect ratio remains intact */
  margin-left: 20px;
}

.product__review {
  margin-top: 5px;
  flex: 0.25;
  text-align: right; /* Align text to the right */
  padding-right: 20px; /* Added padding for spacing */
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .orderproduct {
    flex-direction: column;
    width: 90vw;
    align-items: center;
    text-align: center;
  }
  .product__image {
    margin-bottom: 10px;
  }
  .orderProduct__info {
    flex: unset;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .buttons {
    justify-content: center;
    width: 100%;
  }
  .small__button {
    width: 45%;
    margin: 5px;
  }
  .product__review {
    flex: unset;
    text-align: center;
    padding-right: 0;
    margin-bottom: 10px;
    width: 100%; /* Ensure the button takes full width */
    display: flex;
    justify-content: center;
  }
  .product__review .white__button {
    width: 90%; /* Adjust button width on small screens */
    max-width: 300px; /* Ensure the button doesn't become too wide */
  }
}
