.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  height: auto; /* Adjust to auto for flexibility */
  min-width: 100px;
  background-color: white;
  z-index: 1;
  box-sizing: border-box;
  padding-bottom: 40px;
  position: relative; /* Ensure position is relative to contain absolute children */
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product__price {
  margin-top: 5px;
}

.product__info {
  height: auto; /* Adjust to auto for flexibility */
  margin-bottom: 15px;
  text-align: center;
}

.buyButtons > button {
  background-color: #ffd814;
  border-radius: 12px;
  margin-top: 10px;
  padding: 5px 10px;
  height: 30px;
  border: none;
  cursor: pointer;
  color: #111;
  width: 200px;
}

.buyButtons > button:hover {
  background-color: #f7ca00;
}

.product__rating {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center align for better presentation on small screens */
}

.cart__signal {
  display: flex;
  align-items: center; /* Align items vertically centered */
  justify-content: center; /* Center the content horizontally */
  color: green;
  background-color: #e8f5e9; /* Light green background to make it visually appealing */
  border: 1px solid #4caf50; /* Border to highlight the signal */
  padding: 5px 10px; /* Padding to give some space inside the box */
  border-radius: 5px; /* Rounded corners for a nicer look */
  position: absolute; /* Position absolute to place it over the product */
  bottom: 40px; /* Adjust the bottom position as needed */
  left: 50%; /* Center the signal horizontally */
  transform: translateX(-50%); /* Center the signal horizontally */
  z-index: 10; /* Ensure it's on top of other elements */
}

.cart__signal p {
  margin: 0; /* Remove default margin */
  display: flex;
  align-items: center; /* Align items vertically centered */
  gap: 5px; /* Add space between the icon and the text */
}

/* Media query for small screens */
@media (max-width: 768px) {
  .product {
    padding: 10px;
  }

  .product__info {
    height: auto; /* Adjust to auto for flexibility */
  }

  .product > img {
    max-height: 150px; /* Reduce image size for smaller screens */
  }

  .product__rating {
    justify-content: center; /* Center align for better presentation on small screens */
  }

  .product > button {
    padding: 5px; /* Reduce padding for smaller screens */
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  .cart__signal {
    bottom: 30px; /* Adjust bottom position for smaller screens */
    padding: 3px 8px; /* Adjust padding for smaller screens */
  }
}
.buyButtons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
